<% if @debate.tags.category.pluck(:name).include?("Landwirtschaft") %>
<div>
  <p>"F체r den Sektor <strong>"Landwirtschaft, Landnutzung und Ern채hrung"</strong> haben wir die Kommentierung am 15. M채rz beendet. 
  Die Ergebnisse werden jetzt f체r die weitere 
  <br>Gesetzesarbeit ausgewertet."</p>
</div>
<% end %>