// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

@import 'custom_fonts';
@import "custom/mjAccordion";
@import "custom/_welcome";

.topless {
    @include breakpoint(small) {
      top: auto !important;
      }
   
    @include breakpoint(medium) {
    top: 0px !important;
    }
  }

  
// 11. Button

$button-font-family: inherit;
$button-padding: 0.85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: #a3d869;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: #a3d869;
$button-color-alt: $black;
$button-radius: $global-radius;
$button-hollow-border-width: 1px;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
);
$button-palette: $foundation-palette;
$button-opacity-disabled: 0.25;
$button-background-hover-lightness: -20%;
$button-hollow-hover-lightness: -50%;
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;


iframe {
  border: 0;
}

a.navdropbtn {
  background-color: white;
  color: black;
  padding-right: 20px;
  border: none;
}

.navdropdown {
  position: relative;
  display: inline-block;
}

.navdropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  z-index: 1;
}

.navdropdown-content a {
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
}

.navdropdown-content a:hover {background-color: white;}
.navdropdown:hover .navdropdown-content {display: block;}
.navdropdown:hover .navdropbtn {background-color: white;}

.welcomepage {
  color: $brand;
}

.welcometext {
  font-size: x-small;
}

.welcomebottom {
  font-style: italic;
  color: $brand;
}